.Header {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  
  border: none;
}
/* .Food {
  vertical-align: bottom;

  width: 600px;
  height: auto;
  /* border: 3px; 
  padding: 15px;
  /* border-color: rgb(221, 33, 33); */


  .Aboutbody {
    background: url("images\\pexels-engin-akyurt-1435895.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
  }
.inst {
  color: white;
  font-size: larger;
  font-weight: 200px;
}
.footer {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;

  border: none;
}
.Home {
  background-color: white;
  color: rgb(18, 142, 164);
  border-style: solid;
  border-color: rgb(18, 142, 164);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.indexbody .Order {
  background-color: rgb(209, 124, 67);
  border: none;
  font-size: larger;
  font-style: italic;
  font-variant: small-caps;
  font-family: cursive;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
}

.About {
  background-color: white;
  color: rgb(18, 142, 164);
  border-style: solid;
  border-color: rgb(18, 142, 164);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.Signup {
  background-color: white;
  color: rgb(18, 142, 164);
  border-style: solid;
  border-color: rgb(18, 142, 164);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.Mailus {
  background-color: white;
  color: rgb(18, 142, 164);
  border-style: solid;
  border-color: rgb(18, 142, 164);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.Mailus:hover {
  background-color: rgb(18, 142, 164);
  color: white;
}
.Mailus:active {
  opacity: 0.7;
}
.About:hover {
  background-color: rgb(18, 142, 164);
  color: white;
}
.About:active {
  opacity: 0.7;
}
.Home:hover {
  background-color: rgb(18, 142, 164);
  color: white;
}
.Home:active {
  opacity: 0.7;
}
.Signup:hover {
  background-color: rgb(18, 142, 164);
  color: white;
}
.Signup:active {
  opacity: 0.7;
}
/* .SignupForm {
  /* background-color: rgb(18, 142, 164); */

  /* border-style: hidden; */
  /* color: black; */
 
/*  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px; */

.SignupForm .textlabel {
  display: block;
}
.Signupbody {
  background: url("images\\pexels-pixabay-326281 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Sign {
  color: rgb(249, 247, 247);
  padding: 20px;
  margin: 30% 30% 30% 30%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.SignupForm .Sign .input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 0px 0px 5px 0px;
}
.SignupForm .Sign .input:focus{
    background-color: rgb(18, 142, 164);
}
.SignupForm .Sign h3{
    font-weight: 1000px;
    font-size: 25px ;
    font-style: italic;
    font-family: fantasy;
    border: none;
    text-align: center;
    color: rgb(18, 142, 164);
}

.indexbody {
  background: url("images\\food-3443871_1920.jpg");
}

.Preparation {
  background-color: rgba(0, 0, 0, 0.5);
}

.Registerdiv
{
    text-align: center;
}
.Register{
   
    background-color: white;
    color: rgb(18, 142, 164);
    border-style: solid;
    border-color: rgb(18, 142, 164);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;
}
.Register:hover{

    background-color: rgb(18, 142, 164);
    color: white;
}
.Register:active
{
    opacity: 0.7;
}

.Container {
    display: flex;
}
.Container .Para {
    background-color: rgba(237, 178, 178, 0.2);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    color: rgb(11, 11, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*  
     */
